/*Global*/
@font-face {
    src: url("../font/Belweb.ttf");
}

.root {
    -fx-font-family: "Belwe Bd BT";
    -fx-background-size: stretch;
    -fx-background-position: center;
}

.label_med {
    -fx-font-size: 22;
    -fx-text-fill: gainsboro;
    -fx-effect: dropshadow(gaussian, #363636, 2, 0.8, 0, 0);
}

.label_small {
    -fx-font-size: 16;
    -fx-text-fill: gainsboro;
    -fx-effect: dropshadow(gaussian, #363636, 2, 0.8, 0, 0);
}

.label_xsmall {
    -fx-font-size: 10;
    -fx-text-fill: gainsboro;
    -fx-effect: dropshadow(gaussian, #363636, 2, 0.7, 0, 0);
}

.button-native {
    -fx-background-color: transparent;
    -fx-background-image: url("../image/btnfront.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
}

.button-native:hover {
    -fx-effect: innershadow(gaussian, gold, 5, 0.5, 0, 0);
}

.button-native:pressed {
    -fx-opacity: 0.5;
}

.coin-area {
    -fx-background-image: url("../image/golddi.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
}

.scroll-pane {
    -fx-background-color: transparent;

}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

#windowPane {
    -fx-background-image: url("../image/start-page-mq.jpg");
}

/*****************************************************************************************/

/*Login,Setting*/
#loginPane, #settingPane {
    -fx-background-image: url("../image/empty-bg.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
}
/*****************************************************************************************/

/*Main Menu*/
#menuPane {
    -fx-background-image: url("../image/game-page-mq.jpg");
}

.menu_button {
    -fx-background-color: transparent;
    -fx-font-size: 22;
    -fx-label-padding: 0;
    -fx-padding: 0;
}

.button:hover {
}

.button:pressed {
}

.menu_button:hover {
    -fx-text-fill: gainsboro;
    -fx-effect: dropshadow(three-pass-box, #363636, 15, 0.7, 0, 0);
}

.menu_button:pressed {
    -fx-text-fill: gold;
    -fx-effect: dropshadow(three-pass-box, #363636, 25, 0.7, 0, 0);
}

#collectionButton {
    -fx-text-fill: gainsboro;
    -fx-effect: dropshadow(three-pass-box, #363636, 4, 0.5, 0, 0);
}

#collectionButton:hover {
    -fx-text-fill: #363636;
    -fx-effect: dropshadow(three-pass-box, gainsboro, 15, 0.5, 0, 0);
}

#collectionButton:pressed {
    -fx-text-fill: gold;
    -fx-effect: dropshadow(three-pass-box, gainsboro, 25, 0.5, 0, 0);
}

#shopButton {
    -fx-shape: "M 100 300 A 50 50 0 1 1 700 300 A 50 50 0 1 1 100 300";
}

#shopButton:hover {
    -fx-border-color: gold;
    -fx-border-width: 1;
    -fx-effect: dropshadow(three-pass-box, gold, 15, 0.8, 0, 0);
}

#shopButton:pressed {
    -fx-border-color: gold;
    -fx-border-width: 3;
    -fx-effect: dropshadow(three-pass-box, gold, 25, 0.8, 0, 0);
}

#coins {
    -fx-text-fill: gainsboro;
    -fx-font-size: 16;
}
/*****************************************************************************************/

/*Collection*/
#collectionPane {
    -fx-background-image: url("../image/collection-page.jpg");
}
/*****************************************************************************************/

/*Shop*/
#shopPane {
    -fx-background-image: url("../image/empty-bg.png");
}

.card-image {
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-border-width: 2;
    -fx-background-color: rgba(154, 154, 154, 0.29);
}

.tab-pane {
    -fx-border-color: black;
    -fx-border-radius: 2;
    -fx-border-width: 2;
}

/*****************************************************************************************/

/*Status*/
#statusPane {
    -fx-background-image: url("../image/empty-bg.png");
}

/*****************************************************************************************/



